* {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

body {
  background-color: #D4E7F7;
}

/* Miscellaneous Styling */
h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

header, 
.fish-card img,
footer {
  border: 5px solid #000;
}

/* Header Component */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3028FA;
  color: #FAD766;
}

header img {
  margin-right: 8em;
}

header h1 {
  font-weight: bold;
  font-size: 4em;
  letter-spacing: .2em;
}

h1,
h2,
h3,
.picture-container p {
  font-family: 'Oswald', sans-serif;
}


/* Fish Section Component */
#fish-container {
  display: flex;
  flex-direction: column;
  width: 75vw;
  align-items: flex-start;
  padding-left: 3em;
}

.fish-heading {
  align-self: center;
}

.fish-card {
  display: flex;
}

.fish-card img {
  margin-left: 2em;
}

.fish-card ul {
  list-style-type: none;
  margin-left: 15em;
}

.fish-card ul li {
  margin: 1.5em;
}

/* Quotes Section Component */
#quotes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Locations Section Component */
#location-list {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.header-container {
  display: flex;
  justify-content: center;
}

.picture-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.picture-container p {
  font-weight: bold;
  font-size: 2em;
}

/* Main Container */
.main-container {
  display: flex;
  justify-content: space-around
}

/* Aside Component */
aside {
  width: 25vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aside-header {
  margin-bottom: 2em;
}

aside ul li {
  margin: 1em;
}

/* Footer Component */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #3028FA;
  color: #FAD766;
  height: 20vh;
  justify-content: space-evenly;
}



